.card{
   height: 290px;
   width:250px;
    background-color: #95d7f744;
    border-radius: 40px;
    display: flex;
     flex-direction: column;
    align-items: center;
    padding-top: 10px;
    position: relative;
    justify-content: flex-end;
    padding-bottom: 10px;
    min-width: 250px;
    min-height: 290px;
    margin:10px;
    margin-right: 25px;
    transition:0.5s
}
.image{
    height: 220px;
    width:80%;
    background-color: #95d7f766;
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
    top:-50px;
}
.card p{
    position:relative;
    font-size: smaller;
    text-decoration: solid;
    font-weight: bold;
    color:#454545;
}
.opt{
    width:70%;
    display: flex;
    justify-content: space-between;
}
.opt button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #95d7f7;
    cursor: pointer;
}
p.des{
    font-size: 0.6em;
    text-align: center;
    color:#898989;
}
@media (max-width:450px) {
    .card{
        min-width: 150px;
        max-width: 150px;
        max-height: 250px;
        min-height: 250px;
    }
    .image{
        min-width: 120px;
        max-width: 120px;
        min-height: 80px;
        max-width: 80px;
        top:-70px;
    }
}